<h3>Adding items here</h3>

<form (ngSubmit)="save()" [formGroup]="itemForm">
    <div>
        <label for="name">Name</label>
        <input id="name" type="text"
               placeholder="Name"
               formControlName="name">
    </div>
    <br>
    <div>
        <label for="email">Email</label>
        <input id="email" type="email"
               placeholder="Email"
               formControlName="email">
    </div>
    <br>
    <div>
        <div formArray="addresses" *ngFor="let address of addresses.controls; let i = index">
            <div [formGroupName]="i">
                <div class="form-group">
                    <label attr.for="{{ 'addressType' + i}}" class="col-md-2 control-label">Address type</label>
                    <div class="col-md-8">
                        <input type="text"
                           class="form-control"
                           id="{{ 'addressType' + i}}"
                           placeholder="Address type"
                           formControlName="addressType">
                    </div>
                </div>

                <div class="form-group">
                    <label attr.for="{{ 'street1' + i}}" class="col-md-2 control-label">Street 1</label>
                    <div class="col-md-8">
                        <input type="text"
                           class="form-control"
                           id="{{ 'street1' + i}}"
                           placeholder="street address"
                           formControlName="street1">
                    </div>
                    
                </div>

                <div class="form-group">
                    <label attr.for="{{ 'street2' + i}}" class="col-md-2 control-label">Street 2</label>
                    <div class="col-md-8">
                        <input type="text"
                           class="form-control"
                           id="{{ 'street2' + i}}"
                           placeholder="street address"
                           formControlName="street2">
                    </div>
                </div>
                
                <div class="form-group">
                    <label attr.for="{{ 'city' + i }}" class="col-md-2 control-label">City</label>
                    <div class="col-md-8">
                        <input type="text"
                           class="form-control"
                           id="{{ 'city' + i }}"
                           placeholder="City"
                           formControlName="city">
                    </div>
                </div>

                <div class="form-group">
                    <label attr.for="{{ 'postCode' + i }}" class="col-md-2 control-label">Post code</label>
                    <div class="col-md-8">
                        <input type="text"
                           class="form-control"
                           id="{{ 'postCode' + i }}"
                           placeholder="Post code"
                           formControlName="postCode">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <button type="submit">Save</button>
</form>